[Desktop Entry]
Name=test
Exec=webapp-container --app-id="test.lina" $@ www/index.html
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
