<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="./assets/icons/logo2.png" class="img-logo" />
      </ion-col>
      <ion-col size="12">
        <h1 class="title">
          In the last 48 hours, have you had any of the following NEW symptoms?
          Check all that apply.<b style="color: #ff1515">*</b>
        </h1>

        <ion-list>
          <ion-item
            *ngFor="let answer of array; let i = index"
            color="medium"
            lines="none"
          >
            <ion-label>{{answer.name}}</ion-label>
            <ion-checkbox
              color="dark"
              [disabled]="valid"
              [(ngModel)]="answer.isChecked"
              (ionChange)="checkEvent()"
              mode="md"
            ></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item color="medium" lines="none">
            <ion-label>None of the above</ion-label>
            <ion-checkbox
              color="dark"
              [disabled]="validar"
              [(ngModel)]="none"
              (ionChange)="select($event)"
              mode="md"
            ></ion-checkbox>
          </ion-item>
        </ion-list>
        <ion-row class="row">
          <ion-col size="6"> </ion-col>
          <ion-col size="6">
            <ion-button
              color="dark"
              shape="round"
              fill="outline"
              mode="md"
              class="btn-signup"
              (click)="goNext()"
              >Next
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
