<ion-content color="medium">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img src="./assets/icons/logo2.png" class="img-logo" />
      </ion-col>
      <ion-col size="12">
        <h1 class="title">Before you begin</h1>
        <ul>
          <li class="item1">
            <a
              >This tool is not meant to take the place of consultation with
              your health<br />
              care provider or to diagnose or treat conditions. If you're in an
              emergency medical situation, call 911 or your local emergency
              number.
            </a>
          </li>
          <li class="item2">
            <p>
              Information about COVID-19 is constantly changing. And the level
              of COVID-19 activity varies by community, as does the availability
              of testing. <br />For current updates on COVID-19 and details on
              testing and other health measures in your state, check with your
              local public health agency and visit the CDC website at cdc.gov.
              <br />
            </p>
          </li>
        </ul>
        <ion-button
          color="dark"
          shape="round"
          fill="outline"
          mode="md"
          (click)="goPregunta1()"
          >Begin assessment</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
